BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
AlignAfterOpenBracket: AlwaysBreak
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
PointerAlignment: Left
BreakBeforeBraces: Allman

